In [96]:
import pandas as pd
import numpy as np

In [97]:
df = pd.read_csv('deliveries.csv')
df1 = pd.read_csv('matches.csv')

In [98]:
df.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN

In [99]:
df1.head(10)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
7,8,2017,Indore,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN

In [100]:
df.batting_team.replace({'Rising Pune Supergiants':'Rising Pune Supergiant'}, inplace=True)
df.bowling_team.replace({'Rising Pune Supergiants':'Rising Pune Supergiant'}, inplace=True)
df1.team1.replace({'Rising Pune Supergiants':'Rising Pune Supergiant'}, inplace=True)
df1.team2.replace({'Rising Pune Supergiants':'Rising Pune Supergiant'}, inplace=True)
df1.toss_winner.replace({'Rising Pune Supergiants':'Rising Pune Supergiant'}, inplace=True)
df1.winner.replace({'Rising Pune Supergiants':'Rising Pune Supergiant'}, inplace=True)
df_player_dismissed=df.player_dismissed.dropna()
df_player_dismissed.drop_duplicates(inplace=True)
lst=list(df_player_dismissed)
df.player_dismissed.fillna(value=0, inplace=True)
df.player_dismissed.replace(to_replace=lst, value=1,inplace=True)
df1.drop(columns=['umpire1','umpire2', 'umpire3'],inplace=True)

# Bowler Dataframe

In [101]:
df['Runs'] = df.total_runs-df.bye_runs-df.legbye_runs-df.penalty_runs
Overs = (df.bowler.value_counts())/6
wick = df.iloc[:,[8,18]]
w1 = wick.groupby('bowler').player_dismissed.sum()
w = pd.DataFrame(data=w1)
match = pd.DataFrame(data = df.groupby('bowler').match_id.nunique())
overs = pd.DataFrame(data=Overs).reset_index()
overs.rename(columns={'index': 'bowler', 'bowler':'Overs'}, inplace=True)
bowlers_data = df.groupby(['bowler'])['Runs'].sum()
bow = pd.DataFrame(data=bowlers_data, columns = ['Runs'])
ex = pd.DataFrame(data=df.groupby('bowler').extra_runs.sum())

d1 = pd.merge(bow, overs, on='bowler')
d2 = pd.merge(d1, w, on = 'bowler')
d3 = pd.merge(d2, match, on='bowler')
bowler = pd.merge(d3, ex, on = 'bowler')
bowler['Economy'] = bowler['Runs']/bowler['Overs']
bowler.rename(columns={'Runs':'Runs Conceded','bowler':'Bowler', 'player_dismissed': 'Wickets', 'match_id':'Matches', 'extra_runs': 'Extras'}, inplace=True)
bowler

,Bowler,Runs Conceded,Overs,Wickets,Matches,Extras,Economy
0,A Ashish Reddy,396,45.000000,19,20,14,8.800000
1,A Chandila,242,39.000000,11,12,3,6.205128
2,A Choudhary,144,18.000000,5,5,7,8.000000
3,A Dananjaya,48,4.166667,0,1,1,11.520000
4,A Flintoff,105,11.000000,2,3,1,9.545455
...,...,...,...,...,...,...,...
400,YA Abdulla,307,37.000000,15,11,17,8.297297
401,YK Pathan,1415,197.333333,46,82,71,7.170608
402,YS Chahal,2366,306.833333,102,83,116,7.711027
403,Yuvraj Singh,1078,147.000000,39,73,27,7.333333
404,Z Khan,2782,379.333333,119,99,169,7.333919

# Batsman Dataframe

In [102]:
runs = pd.DataFrame(data = df.groupby(['batsman']).batsman_runs.sum())
matches = pd.DataFrame(data = df.groupby('batsman').match_id.nunique())
d1 = pd.merge(runs, matches, on = 'batsman')
d1['average'] = d1['batsman_runs']/d1['match_id']
mom = pd.DataFrame(data = df1.player_of_match.value_counts()).reset_index()
mom.rename(columns = {'index':'batsman'}, inplace=True)
d2 = pd.merge(d1, mom, on='batsman')
dismissal = df.groupby('batsman').dismissal_kind.agg(pd.Series.mode).to_frame().reset_index()
d3 = pd.merge(d2, dismissal, on = 'batsman')
d3.rename(columns={'batsman': 'Batsman', 'batsman_runs':'Runs', 'match_id':'Matches Played', 'average':'Average', 'player_of_match':'Player of The Match', 'dismissal_kind':'Most Common Dismissal Kind'}, inplace=True)
d3

,Batsman,Runs,Matches Played,Average,Player of The Match,Most Common Dismissal Kind
0,A Chandila,4,2,2.000000,1,run out
1,A Joseph,15,1,15.000000,1,[]
2,A Kumble,35,15,2.333333,3,"[bowled, caught]"
3,A Mishra,368,54,6.814815,11,"[bowled, caught, run out]"
4,A Nehra,41,17,2.411765,6,caught
5,A Singh,2,5,0.400000,1,bowled
6,A Symonds,974,36,27.055556,3,caught
7,A Zampa,5,2,2.500000,1,caught
8,AA Jhunjhunwala,217,15,14.466667,1,caught
9,AB Dinda,26,16,1.625000,2,caught
10,AB de Villiers,4428,142,31.183099,20,caught
11,AC Gilchrist,2069,80,25.862500,7,caught
12,AC Voges,181,7,25.857143,1,caught
13,AD Mascarenhas,79,11,7.181818,1,caught
14,AD Mathews,724,41,17.658537,1,caught
15,AD Russell,1445,52,27.788462,11,caught
16,AJ Finch,1744,73,23.890411,5,caught
17,AJ Tye,94,12,7.833333,2,caught
18,AM Rahane,3850,132,29.166667,12,caught
19,AP Tare,339,27,12.555556,1,caught
20,AR Patel,806,62,13.000000,4,caught
21,AS Rajpoot,18,5,3.600000,2,bowled
22,AS Yadav,1011,35,28.885714,2,caught
23,AT Rayudu,3326,138,24.101449,9,caught
24,Azhar Mahmood,388,21,18.476190,2,caught
25,B Kumar,190,41,4.634146,5,caught
26,B Lee,124,19,6.526316,2,caught
27,B Stanlake,5,1,5.000000,1,[]
28,BA Bhatt,6,2,3.000000,1,[]
29,BA Stokes,647,32,20.218750,3,caught
30,BB McCullum,2893,109,26.541284,5,caught
31,BCJ Cutting,240,17,14.117647,1,caught
32,BJ Hodge,1400,63,22.222222,6,caught
33,CA Lynn,1308,41,31.902439,4,caught
34,CH Gayle,4560,124,36.774194,21,caught
35,CH Morris,520,37,14.054054,2,caught
36,CJ Anderson,538,29,18.551724,3,caught
37,CL White,971,45,21.577778,1,caught
38,CR Brathwaite,188,14,13.428571,1,caught
39,CRD Fernando,4,2,2.000000,1,run out
40,DA Miller,1875,77,24.350649,3,caught
41,DA Warner,4741,126,37.626984,17,caught
42,DE Bollinger,21,4,5.250000,2,caught
43,DJ Bravo,1498,99,15.131313,3,caught
44,DJ Hooda,535,45,11.888889,1,caught
45,DJ Hussey,1322,61,21.672131,2,caught
46,DJG Sammy,295,20,14.750000,1,caught
47,DL Chahar,73,7,10.428571,1,caught
48,DL Vettori,121,16,7.562500,1,bowled
49,DP Nannes,4,2,2.000000,1,bowled
50,DPMD Jayawardene,1808,78,23.179487,5,caught
51,DR Smith,2385,88,27.102273,11,caught
52,DW Steyn,166,32,5.187500,5,"[bowled, caught]"
53,EJG Morgan,854,45,18.977778,1,caught
54,F du Plessis,1874,64,29.281250,4,caught
55,G Gambhir,4223,151,27.966887,13,caught
56,GC Smith,739,29,25.482759,2,caught
57,GD McGrath,4,2,2.000000,1,caught
58,GH Vihari,280,21,13.333333,2,caught
59,GJ Bailey,663,36,18.416667,1,caught
60,GJ Maxwell,1403,67,20.940299,5,caught
61,H Gurney,1,1,1.000000,1,[]
62,HH Gibbs,886,36,24.611111,1,caught
63,HH Pandya,1118,61,18.327869,6,caught
64,HM Amla,577,16,36.062500,2,caught
65,HV Patel,108,15,7.200000,2,caught
66,Harbhajan Singh,834,86,9.697674,8,caught
67,Harmeet Singh,18,4,4.500000,2,"[caught, lbw]"
68,I Sharma,55,18,3.055556,2,"[bowled, caught, run out]"
69,IK Pathan,1150,82,14.024390,2,caught
70,Imran Tahir,20,7,2.857143,1,caught
71,Iqbal Abdulla,88,13,6.769231,2,caught
72,Ishan Kishan,711,33,21.545455,1,caught
73,J Archer,85,11,7.727273,1,caught
74,J Bairstow,468,10,46.800000,2,caught
75,J Botha,409,28,14.607143,1,caught
76,J Theron,10,4,2.500000,1,"[caught, run out]"
77,JA Morkel,975,67,14.552239,2,caught
78,JC Buttler,1431,45,31.800000,5,caught
79,JD Ryder,604,29,20.827586,1,caught
80,JD Unadkat,55,12,4.583333,5,caught
81,JDP Oram,106,11,9.636364,1,caught
82,JEC Franklin,327,16,20.437500,1,caught
83,JH Kallis,2427,95,25.547368,10,caught
84,JJ Bumrah,37,10,3.700000,5,"[caught, run out]"
85,JJ Roy,186,8,23.250000,1,caught
86,JP Duminy,2041,75,27.213333,4,caught
87,JP Faulkner,527,45,11.711111,5,caught
88,K Ahmed,0,1,0.000000,1,bowled
89,K Paul,22,5,4.400000,1,bowled
90,K Rabada,70,7,10.000000,1,caught
91,KA Pollard,2784,132,21.090909,10,caught
92,KC Sangakkara,1687,68,24.808824,5,caught
93,KD Karthik,3688,162,22.765432,4,caught
94,KH Pandya,915,46,19.891304,4,caught
95,KK Cooper,116,12,9.666667,1,caught
96,KK Nair,1470,63,23.333333,3,caught
97,KL Rahul,2013,58,34.706897,4,caught
98,KM Jadhav,1091,70,15.585714,2,caught
99,KMDN Kulasekara,5,1,5.000000,1,[]
100,KP Pietersen,1001,36,27.805556,3,caught
101,KS Williamson,1319,41,32.170732,3,caught
102,KV Sharma,317,34,9.323529,1,caught
103,Kuldeep Yadav,46,8,5.750000,1,"[bowled, caught, lbw, run out]"
104,L Balaji,36,13,2.769231,3,caught
105,LH Ferguson,1,1,1.000000,1,[]
106,LJ Wright,106,5,21.200000,1,caught
107,LMP Simmons,1079,29,37.206897,3,caught
108,LR Shukla,405,33,12.272727,1,caught
109,LRPL Taylor,1017,54,18.833333,3,caught
110,M Kartik,113,14,8.071429,1,"[caught, caught and bowled, run out]"
111,M Morkel,126,20,6.300000,2,caught
112,M Muralitharan,20,9,2.222222,2,"[caught, run out]"
113,M Ntini,11,2,5.500000,2,bowled
114,M Ur Rahman,12,4,3.000000,1,"[bowled, caught]"
115,M Vijay,2590,102,25.392157,6,caught
116,M Vohra,1016,45,22.577778,3,caught
117,MA Agarwal,1276,72,17.722222,2,caught
118,MA Starc,96,11,8.727273,1,caught
119,MC Henriques,969,50,19.380000,2,caught
120,MD Mishra,237,17,13.941176,1,caught
121,MEK Hussey,1977,58,34.086207,12,caught
122,MF Maharoof,177,14,12.642857,1,caught
123,MG Johnson,168,28,6.000000,2,"[bowled, caught]"
124,MJ Lumb,278,12,23.166667,1,caught
125,MJ McClenaghan,91,20,4.550000,2,caught
126,MK Pandey,2872,119,24.134454,4,caught
127,MK Tiwary,1697,83,20.445783,3,caught
128,ML Hayden,1107,32,34.593750,4,caught
129,MM Patel,39,12,3.250000,2,caught
130,MM Sharma,124,25,4.960000,2,caught
131,MN Samuels,161,14,11.500000,1,"[bowled, caught]"
132,MP Stoinis,482,25,19.280000,2,caught
133,MR Marsh,225,14,16.071429,1,caught
134,MS Bisla,798,39,20.461538,1,caught
135,MS Dhoni,4477,170,26.335294,17,caught
136,MS Gony,99,15,6.600000,1,"[bowled, caught]"
137,MV Boucher,394,23,17.130435,2,caught
138,Mandeep Singh,1547,83,18.638554,3,caught
139,Mohammed Shami,54,16,3.375000,1,caught
140,Mohammed Siraj,34,6,5.666667,1,"[caught, lbw, run out]"
141,Mustafizur Rahman,1,1,1.000000,1,caught
142,N Rana,1104,41,26.926829,4,caught
143,NM Coulter-Nile,52,11,4.727273,4,caught
144,NV Ojha,1555,94,16.542553,1,caught
145,P Kumar,340,57,5.964912,2,bowled
146,P Negi,366,35,10.457143,2,caught
147,P Parameswaran,1,2,0.500000,1,[]
148,P Shaw,616,25,24.640000,1,caught
149,PA Patel,2874,136,21.132353,5,caught
150,PC Valthaty,505,23,21.956522,2,caught
151,PD Collingwood,203,7,29.000000,1,caught
152,PP Chawla,587,75,7.826667,3,caught
153,PP Ojha,16,19,0.842105,1,caught
154,PV Tambe,18,6,3.000000,2,caught
155,Q de Kock,1489,50,29.780000,1,caught
156,R Ashwin,382,50,7.640000,2,caught
157,R Bhatia,342,47,7.276596,1,caught
158,R Dravid,2174,82,26.512195,2,caught
159,R McLaren,159,13,12.230769,1,"[bowled, caught, lbw, run out]"
160,R Sharma,66,19,3.473684,2,caught
161,R Vinay Kumar,311,42,7.404762,3,caught
162,RA Jadeja,1951,125,15.608000,8,caught
163,RA Tripathi,771,33,23.363636,1,caught
164,RE Levi,83,6,13.833333,1,bowled
165,RG Sharma,4914,182,27.000000,17,caught
166,RJ Harris,117,21,5.571429,1,caught
167,RP Singh,52,28,1.857143,1,caught
168,RR Pant,1792,54,33.185185,6,caught
169,RS Bopara,531,22,24.136364,1,caught
170,RV Uthappa,4446,170,26.152941,7,caught
171,Rashid Khan,109,17,6.411765,7,caught
172,S Anirudha,136,12,11.333333,1,caught
173,S Aravind,59,10,5.900000,1,"[bowled, caught, lbw]"
174,S Badrinath,1441,65,22.169231,1,caught
175,S Curran,95,8,11.875000,1,"[caught, lbw]"
176,S Dhawan,4632,158,29.316456,6,caught
177,S Gill,517,23,22.478261,1,caught
178,S Gopal,131,14,9.357143,2,caught
179,S Hetmyer,93,5,18.600000,1,caught
180,S Nadeem,32,17,1.882353,1,caught
181,S Sohal,368,20,18.400000,1,caught
182,S Sreesanth,34,12,2.833333,1,"[bowled, caught, lbw]"
183,SA Asnodkar,423,19,22.263158,1,caught
184,SA Yadav,608,42,14.476190,1,caught
185,SB Jakati,28,5,5.600000,1,"[caught, run out]"
186,SB Wagh,2,2,1.000000,1,"[caught, run out]"
187,SC Ganguly,1349,56,24.089286,5,caught
188,SE Marsh,2489,69,36.072464,9,caught
189,SK Raina,5415,189,28.650794,14,caught
190,SK Trivedi,42,14,3.000000,2,bowled
191,SK Warne,198,27,7.333333,4,"[bowled, caught]"
192,SL Malinga,88,20,4.400000,6,"[bowled, caught]"
193,SM Katich,241,11,21.909091,1,caught
194,SM Pollock,147,8,18.375000,2,"[bowled, caught]"
195,SP Goswami,301,19,15.842105,1,caught
196,SP Narine,803,54,14.870370,9,caught
197,SPD Smith,2047,72,28.430556,5,caught
198,SR Tendulkar,2334,78,29.923077,8,caught
199,SR Watson,3614,130,27.800000,15,caught
200,SS Iyer,1714,61,28.098361,4,caught
201,ST Jayasuriya,768,30,25.600000,2,caught
202,SV Samson,2235,88,25.397727,5,caught
203,SW Billings,338,19,17.789474,1,caught
204,Sandeep Sharma,26,14,1.857143,5,"[caught, caught and bowled, lbw]"
205,Shakib Al Hasan,759,46,16.500000,2,caught
206,Shoaib Akhtar,2,1,2.000000,1,caught
207,Sohail Tanvir,36,5,7.200000,2,caught
208,TA Boult,12,4,3.000000,1,"[bowled, caught]"
209,TG Southee,115,13,8.846154,1,caught
210,TL Suman,676,39,17.333333,1,caught
211,TM Dilshan,1153,50,23.060000,1,caught
212,UT Yadav,127,33,3.848485,8,"[bowled, caught]"
213,Umar Gul,39,4,9.750000,1,caught
214,V Kohli,5434,169,32.153846,12,caught
215,V Sehwag,2728,104,26.230769,11,caught
216,VR Aaron,49,10,4.900000,2,"[bowled, caught, run out]"
217,WP Saha,1780,93,19.139785,3,caught
218,WPUJC Vaas,81,11,7.363636,1,caught
219,Washington Sundar,79,12,6.583333,1,caught
220,YK Pathan,3241,153,21.183007,16,caught
221,YS Chahal,22,12,1.833333,1,caught
222,Yuvraj Singh,2765,126,21.944444,5,caught
223,Z Khan,117,27,4.333333,1,caught

In [103]:
# wins = pd.DataFrame(data=df1.winner.value_counts()).reset_index()
# wins.rename(columns={'index':'team'},inplace=True)
# tosswins = pd.DataFrame(data = df1.toss_winner.value_counts()).reset_index()
# tosswins.rename(columns={'index':'team'},inplace=True)
# d = pd.merge(wins,tosswins,on='team')
# city1 = pd.DataFrame(data=df1.groupby('winner').city.value_counts())
# city1.rename(columns={'winner':'team'},inplace=True)
# d1 = pd.merge(d,city1,on='team')

In [104]:
bowler.to_csv(r'D:\TSF_GRIP\Bowler.csv',index=False)

In [107]:
d2.to_csv(r'D:\TSF_GRIP\Batsman1.csv',index=False)

In [106]:
df1.to_csv(r'D:\TSF_GRIP\match.csv',index=False)